<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="weather" />
        <meta name="description" content="weather forecast index" />
    </head>
    <head>
        <title>SunCast Forecast</title>
        <style>
        body {
            font-family: Arial;
            background: #0f172a;
            color: white;
            text-align: center;
            padding: 40px;
        }
        .card {
            margin: 10px auto;
            padding: 15px;
            width: 250px;
            background: #1e293b;
            border-radius: 10px;
        }
        a {
            color: #38bdf8;
            text-decoration: none;
            font-size: 18px;
        }
        </style>
    </head>
    <body>
        <h1>🌤 SunCast Forecast</h1>
        {% for loc in locations %}
            <div class="card">
                <a href="{{ loc.file }}">{{ loc.name }}</a>
            </div>
        {% endfor %}
    </body>
</html>
